@font-face {
    font-family: PingFangSCRegular;
    src: url('PingFangSCRegular.ttf');
}

html,
body {
    background-color: #fff;
    font-family: PingFangSCRegular;
}

.loading-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.loading-layer-2>.modal-cls {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.loading-layer-2>.box-cls {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 312px;
    height: 124px;
    margin-top: -62px;
    margin-left: -156px;
    background-color: transparent;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.loading-layer-2>.box-cls>img {
    display: block;
    margin: 51px auto;
}


/*字体大小的样式*/

.iconfont {
    font-size: 26px;
}

.input-group .iconfont {
    font-size: 12px;
    border-radius: 0;
}

.font-s12 {
    font-size: 12px;
}

.font-s14 {
    font-size: 14px;
}

.font-s16 {
    font-size: 14px;
}

.font-s24 {
    font-size: 24px;
}

.font-s48 {
    font-size: 48px;
}

.font-w6 {
    font-weight: 600;
}

.font-w1 {
    font-weight: 100;
}


/*字体颜色的样式*/

.font-c9 {
    color: #999;
}

.font-c6 {
    color: #666;
}

.font-c4 {
    color: #407DD1;
}

.font-c3 {
    color: #333;
}

.font-c8 {
    color: #888;
}

.font-cb {
    color: #c8c8c8;
}

.font-cf {
    color: #fff;
}

.font-cc9 {
    color: #c92424;
}

.navbar-fixed-left::-webkit-scrollbar {
    display: none
}


/*输入框里面的字体颜色*/

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #C8C8C8;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #C8C8C8;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #C8C8C8;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #C8C8C8;
}

.navbar-fixed-left {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    overflow-x: hidden;
    -webkit-box-shadow: 0 1px 1px rgba(71, 95, 127, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(71, 95, 127, 0.2);
    box-shadow: 0 1px 1px rgba(71, 95, 127, 0.2);
    background-color: #fff;
    padding: 0 15px;
    margin-right: 10px;
}


/*边框的样式和大小*/

.border-cc {
    border: 1px solid #c8c8c8;
}

.border-bottom-cc {
    border-bottom: 1px solid #c8c8c8;
}


/*背景颜色的样式*/

.background-cF {
    background-color: #f0f0f0;
    border: 1px solid #c8c8c8;
}

.background-40 {
    background-color: #407DD1;
    border: 1px solid #407DD1;
}

.background-c4 {
    background-color: #4cac55;
    color: #ffffff;
}

.background-ff {
    background-color: #fff;
}


/*padding的样式*/

.padding0 {
    padding: 0;
    overflow: hidden;
}

.padding-20 {
    padding: 20px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-10 {
    padding: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}


/*margin的掩饰*/

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}


/*高度的样式*/

.height-25 {
    height: 26px;
    line-height: 26px;
}

.height-26 {
    height: 26px;
    line-height: 26px;
}

.height-42 {
    height: 42px;
    line-height: 42px;
}

.height-72 {
    height: 82px;
    padding: 10px;
}


/*css样式*/

.font-size-8 {
    font-size: 14px;
    transform: scale(0.6);
}


/*重写bootstarp的样式*/

.text-center {
    text-align: -webkit-center;
}

.table>thead>tr>th,
.table>tbody>tr>td {
    border: 0;
}


/*提示信息的样式*/

#prompt {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
}

#prompt>div {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #f0f0f0;
    padding: 20px 30px;
    border-radius: 5px;
    z-index: 9999999;
}

#prompt>div>p {
    padding: 0;
    margin: 0;
}

.input-group .form-control {
    border-radius: 0;
}